<!DOCTYPE html>
<html ng-app="app">

<head>
  <meta charset="UTF-8">
  <title>Hello World!</title>
  <link href="../bower_components/angular-d3-sunburst/angular-d3-sunburst.css" rel="stylesheet" type="text/css" />
</head>

<body ng-controller="mainController">
  <button ng-click="wd1()">walkdir1</button>
  <button ng-click="wd2()">walkdir2</button>
  <button ng-click="wdMain()">walkdir Main</button>
  <div style="float: right">
<label>Path <input type="text" ng-model="path"></label>
<div><label>History 
      <ul>
        <li ng-repeat="p in paths" ng-click="$parent.path=p">{{p}}</li>
      </ul>
    </label>
    </div>
</div>
<div><label>Elements <span>{{elementCount}}</span></label></div>
<div><label>Duration <span>{{duration}}</span></label></div>
<div><label>In progress calls <span>{{asyncCount}}</span></label></div>
<div><label>Size <span>{{size}}</span></label></div>
<sunburst data="root" id="path" value="size" refresh="refresh"></sunburst>
<h1>Hello World!</h1>
<h2>{{1+1}}</h2>
<h2>{{test}}</h2>
<!-- All of the Node.js APIs are available in this renderer process. -->
We are using node
<script>document.write(process.versions.node)</script>, Chromium
<script>document.write(process.versions.chrome)</script>, and Electron
<script>document.write(process.versions.electron)</script>.
<d3-bars data="data"></d3-bars>
</body>

<script>
        window._ = require('../bower_components/lodash/dist/lodash.js')
        require('../bower_components/angular/angular.js')
        window.d3 = require('../bower_components/d3/d3.js')
        require('./ngApp.js')
        require('./classes.js')
        require('./fileService.js')
        require('./sunburst.js')
        require('./mainController.js')
</script>

</html>